public/n8n_workflow_socioestilo.json
{
  "name": "Socioestilo - Relatório com Perguntas + Agente Supabase Vector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "socioestilo/analisar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ab46d9a8-7167-4ba2-bc9b-b5cd174fd347",
      "name": "Webhook - Receber respostas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1072,
        512
      ],
      "notesInFlow": true,
      "webhookId": "d3223d9e-df3d-488c-93a6-dd7949bc8698",
      "notes": "Entrada POST do aplicativo. O app deve enviar usuário, empresa, scores e principalmente todas as respostas das perguntas. O fluxo aceita diferentes formatos de answers/respostas."
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\n// Catálogo das perguntas do questionário Socioestilo.\n// Este catálogo permite que o n8n receba somente IDs/opções e reconstrua pergunta, resposta, estilo e pontuação.\nconst QUESTIONS = [{\"id\": 1, \"text\": \"Marque com um X as CINCO qualidades com nas quais você mais se reconhece:\", \"mode\": \"multi\", \"maxChoices\": 5, \"options\": [{\"text\": \"Determinado\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Comunicativo\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Paciente\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Otimista\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Rápido\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Lógico\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Respeitoso\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Preciso\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Objetivo\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Bem-humorado\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Solidário\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Detalhista\", \"style\": \"Analitico\", \"points\": 1}]}, {\"id\": 2, \"text\": \"Um cliente ou colega fica irritado porque você não retornou rapidamente um contato. Qual sua reação imediata?\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Pedir desculpas e ir direto ao assunto do interesse do cliente ou colega.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Explicar detalhadamente os motivos, para que o cliente ou colega possa entender o que aconteceu.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Entender a irritação do cliente ou colega, pedir desculpas e buscar demonstrar claramente o quanto você se importou.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Tentar \\\"desarmar\\\" o cliente ou colega, com bom humor e habilidade, mostrando que está tudo bem apesar de não ter retornado.\", \"style\": \"Expressivo\", \"points\": 1}]}, {\"id\": 3, \"text\": \"Qual dessas atividades daria a você maior prazer profissional?\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Comunicação, relacionamento interpessoal, criação de novos produtos, uso da criatividade e da imaginação.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Análise de clientes ou mercado, inteligência estratégica, desafios em que você pode testar sua capacidade e inteligência.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Criação de eventos integrativos, unir as pessoas em torno de um objetivo.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Resolver problemas urgentes, execução de um grande projeto, cumprir as tarefas no prazo.\", \"style\": \"Direto\", \"points\": 1}]}, {\"id\": 4, \"text\": \"Coisas que normalmente você gosta de fazer no seu tempo de lazer:\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Organizar coisas, trabalhos manuais, consertar coisas, resolver problemas.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Fazer as atividades sem planos rígidos, fazer algo diferente, ouvir música, sair para dançar.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Conversar com amigos, fazer trabalho voluntário, ligar para alguém distante.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Ler um bom livro, colocar as coisas nos lugares, estudar novidades na internet, comparar produtos e serviços.\", \"style\": \"Analitico\", \"points\": 1}]}, {\"id\": 5, \"text\": \"Aponte mais CINCO virtudes que as pessoas dizem que você tem:\", \"mode\": \"multi\", \"maxChoices\": 5, \"options\": [{\"text\": \"Gosta de ambientes com harmonia e em paz.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"É muito focado: quando coloca uma coisa na cabeça, não desiste.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Pensa positivamente nas coisas. Vê o lado bom das pessoas e das coisas.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Tem grande noção de justiça e de imparcialidade.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Tem ótima capacidade de pensar e agir processualmente, passo a passo.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Tem excelente capacidade para gerar novas e criativas ideias.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"É extremamente organizado, com as coisas em seus lugares.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Tem ótima noção de responsabilidade. É visto como a pessoa que sempre pensa em tudo.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Tem excelente em relacionamentos. Impossível não gostar de você.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Sempre pensa nos outros e tenta fazer com que eles participem das conversas e dos assuntos.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"É um realizador. Tem grande foco nos resultados e consegue sempre o que quer.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Sempre que pensam em alguém humano, sensível e compreensivo, pensam em você.\", \"style\": \"Amavel\", \"points\": 1}]}, {\"id\": 6, \"text\": \"Na aproximação com os outros, eu...\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Procuro pessoas que sejam formais e não sejam por demais agitadas.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Procuro pessoas otimistas e entusiasmadas pelas minhas ideias.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Prefiro pessoas mais quietas e que analisam as situações antes de abordar diretamente os outros.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Procuro pessoas com quem possa dividir o trabalho e alcançar resultados.\", \"style\": \"Direto\", \"points\": 1}]}, {\"id\": 7, \"text\": \"Dos tipos de personalidade abaixo, qual você considera a melhor?\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Grande capacidade de extroversão, capacidade de pensar diferente, inovar e inventar.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Pessoas com foco, excelência no que fazem, procuram melhorar sempre e tem um objetivo e o perseguem o tempo todo.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Pensamento estratégico, analítico, que tomam decisões cuidadosas e prudentes.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Gente que gosta de tradições. Pessoas que se preocupam com as outras pessoas. Pessoas fiéis.\", \"style\": \"Amavel\", \"points\": 1}]}, {\"id\": 8, \"text\": \"Quais defeitos você vê em você com mais frequência entre as alternativas abaixo:\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Sou tão focado em resultados que me esqueço das pessoas e de mim mesmo. Pessoa competitiva demais.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Tenho grandes ideias, mas não consigo dar vasão a todas e acabo ficando sem foco.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Gosto tanto das pessoas que me envolvo com os problemas delas. Às vezes defende pessoas que não merecem.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Detalhista demais, perfeccionista. Pessoa que não gosta de mudança.\", \"style\": \"Analitico\", \"points\": 1}]}, {\"id\": 9, \"text\": \"Escolha a alternativa que melhor descreve você:\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Gosto de organizar e fazer.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Gosto de compartilhar.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Gosto de analisar.\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"Gosto de criar.\", \"style\": \"Expressivo\", \"points\": 1}]}, {\"id\": 10, \"text\": \"No trabalho em equipe, eu...\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Mostro-me cooperativo, agradável e sempre que possível evito entrar em conflito.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Concentro-me nos problemas mais urgentes, de modo objetivo e organizado.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Destaco-me pela criatividade e valorizo o entusiasmo, engajamento e o senso de humor.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Mostro-me cuidadoso e organizado e apoio sugestões precisas, detalhadas e bem fundamentadas.\", \"style\": \"Analitico\", \"points\": 1}]}, {\"id\": 11, \"text\": \"Nas situações de cotidiano, eu...\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Gosto de manter as pessoas integradas. Enfrento conflitos e desagrado pessoas só quando a situação é ameaçadora.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Concentro-me primeiro no trabalho e na produção de resultados. Só depois disso é que me preocupo com relacionamentos.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Gosto de novas ideias e à propostas criativas. Só depois busco argumentos para convencer as pessoas.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Interesso-me mais por situações que permitam trabalhar ideias de forma organizada e estruturada.\", \"style\": \"Analitico\", \"points\": 1}]}, {\"id\": 12, \"text\": \"Quando você está cansado, sob stress você:\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"fala mais alto, demonstra a irritação (diferente do seu costume)\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"começa a dar muitos detalhes sobre o motivo da ação (diferente do seu usual)\", \"style\": \"Analitico\", \"points\": 1}, {\"text\": \"brinca para aliviar o desconforto (diferente do seu usual)\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"não marca limite e pede desculpa (diferente do seu usual)\", \"style\": \"Amavel\", \"points\": 1}]}, {\"id\": 13, \"text\": \"Diante de uma situação difícil, em que você fica nervoso:\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"tem uma ideia e nao a modifica mesmo se os outros sugerem diferente\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"culpa outras pessoas pelo erro\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"busca varias pessoas para pensar junto, gerando um excesso de ideias\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"leva muito tempo analisando o fato e as vezes perde o tempo da solução\", \"style\": \"Analitico\", \"points\": 1}]}, {\"id\": 14, \"text\": \"Ao receber ou dar feedback profissional na equipe, qual comportamento é seu norte padrão?\", \"mode\": \"single\", \"maxChoices\": null, \"options\": [{\"text\": \"Prefiro que seja direto, focado em metas claras e ações imediatas e pragmáticas para o avanço.\", \"style\": \"Direto\", \"points\": 1}, {\"text\": \"Valorizo que venha acompanhado de incentivos inspiradores, com muito reconhecimento e criatividade de visão.\", \"style\": \"Expressivo\", \"points\": 1}, {\"text\": \"Prezo pelo acolhimento, empatia e construção conjunta e pacífica de melhoria mútua.\", \"style\": \"Amavel\", \"points\": 1}, {\"text\": \"Exijo que seja fundamentado em fatos lógicos, indicadores detalhados e estruturação exata de ocorrências.\", \"style\": \"Analitico\", \"points\": 1}]}];\n\nconst STYLE_NAMES = {\n  Direto: 'Assertivo',\n  Expressivo: 'Participativo',\n  Amavel: 'Conservador agregador',\n  Analitico: 'Analítico',\n  Assertivo: 'Assertivo',\n  Participativo: 'Participativo',\n  'Conservador agregador': 'Conservador agregador',\n  Conservador: 'Conservador agregador',\n  Analítico: 'Analítico'\n};\n\nfunction removeAccents(value) {\n  return String(value || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n}\n\nfunction normalizeStyleName(name) {\n  const key = removeAccents(name).toLowerCase().trim();\n  const map = {\n    direto: 'Assertivo',\n    assertivo: 'Assertivo',\n    expressivo: 'Participativo',\n    participativo: 'Participativo',\n    amavel: 'Conservador agregador',\n    conservador: 'Conservador agregador',\n    'conservador agregador': 'Conservador agregador',\n    analitico: 'Analítico'\n  };\n  return map[key] || STYLE_NAMES[name] || String(name || '');\n}\n\nfunction asArray(value) {\n  if (value === undefined || value === null || value === '') return [];\n  if (Array.isArray(value)) return value;\n  return [value];\n}\n\nfunction normalizeText(value) {\n  return removeAccents(String(value || '').toLowerCase()).replace(/\\s+/g, ' ').trim();\n}\n\nfunction findQuestion(id) {\n  return QUESTIONS.find(q => Number(q.id) === Number(id));\n}\n\nfunction findOption(question, answerValue) {\n  if (!question || !question.options) return null;\n  const txt = normalizeText(typeof answerValue === 'object' ? (answerValue.text || answerValue.resposta || answerValue.label || answerValue.value) : answerValue);\n  return question.options.find(o => normalizeText(o.text) === txt) || null;\n}\n\nfunction extractAnswersFromLegacyFields(src) {\n  const out = {};\n  for (const [key, value] of Object.entries(src || {})) {\n    const mMulti = key.match(/^q(\\d+)_opcao_(\\d+)$/i);\n    const mSingle = key.match(/^q(\\d+)_resposta$/i);\n    if (mMulti) {\n      const qid = mMulti[1];\n      if (!out[qid]) out[qid] = [];\n      if (value !== undefined && value !== null && value !== '') out[qid].push(value);\n    }\n    if (mSingle) {\n      const qid = mSingle[1];\n      if (value !== undefined && value !== null && value !== '') out[qid] = value;\n    }\n  }\n  return out;\n}\n\nfunction normalizeAnswers(input, src) {\n  const rows = [];\n\n  // Formato 1: array de respostas detalhadas.\n  if (Array.isArray(input)) {\n    for (const item of input) {\n      const qid = item.questionId || item.id || item.pergunta_id || item.question_id;\n      const question = findQuestion(qid) || {};\n      const selected = item.selectedOptions || item.options || item.respostas || item.answers || item.answer || item.resposta || item.value;\n      for (const answerValue of asArray(selected)) {\n        const option = typeof answerValue === 'object' && answerValue.text\n          ? answerValue\n          : findOption(question, answerValue) || { text: String(answerValue || ''), style: null, points: 0 };\n        rows.push({\n          questionId: Number(qid),\n          question: item.question || item.pergunta || question.text || '',\n          answer: option.text || option.resposta || String(answerValue || ''),\n          originalStyle: option.style || null,\n          style: option.style ? normalizeStyleName(option.style) : null,\n          points: Number(option.points || 0)\n        });\n      }\n    }\n    return rows;\n  }\n\n  // Formato 2: objeto { \"1\": \"...\", \"2\": \"...\", \"q1\": [...] }.\n  const merged = { ...(input || {}), ...extractAnswersFromLegacyFields(src) };\n  for (const [rawKey, value] of Object.entries(merged)) {\n    const qid = String(rawKey).replace(/^q/i, '');\n    const question = findQuestion(qid) || {};\n    for (const answerValue of asArray(value)) {\n      const option = findOption(question, answerValue) || { text: String(answerValue || ''), style: null, points: 0 };\n      rows.push({\n        questionId: Number(qid),\n        question: question.text || '',\n        answer: option.text || String(answerValue || ''),\n        originalStyle: option.style || null,\n        style: option.style ? normalizeStyleName(option.style) : null,\n        points: Number(option.points || 0)\n      });\n    }\n  }\n  return rows.sort((a, b) => a.questionId - b.questionId);\n}\n\nconst rawAnswers = body.answers || body.respostas || body.responses || body.questionario || body.questionnaire || {};\nconst respostasDetalhadas = normalizeAnswers(rawAnswers, body);\n\n// Usa scores enviados pelo app. Caso não venham, calcula a partir das respostas.\nlet scoresInput = body.scores || body.pontuacoes || body.score || null;\nlet normalizedScores = { Assertivo: 0, Participativo: 0, 'Conservador agregador': 0, 'Analítico': 0 };\n\nif (scoresInput && Object.keys(scoresInput).length) {\n  for (const [key, value] of Object.entries(scoresInput)) {\n    const style = normalizeStyleName(key);\n    normalizedScores[style] = Number(value || 0);\n  }\n} else {\n  for (const r of respostasDetalhadas) {\n    if (r.style) normalizedScores[r.style] = (normalizedScores[r.style] || 0) + Number(r.points || 0);\n  }\n}\n\nconst totalPontos = Object.values(normalizedScores).reduce((sum, value) => sum + Number(value || 0), 0);\n\nconst ranking = Object.entries(normalizedScores)\n  .map(([style, score]) => ({\n    style,\n    score: Number(score || 0),\n    percent: totalPontos ? Math.round((Number(score || 0) / totalPontos) * 100) : 0\n  }))\n  .sort((a, b) => b.score - a.score);\n\nconst perfilPredominante = ranking[0]?.style || null;\nconst perfilSecundario = ranking[1]?.style || null;\nconst perfilTerciario = ranking[2]?.style || null;\nconst perfilMenosUtilizado = ranking[ranking.length - 1]?.style || null;\n\nconst respostasPorPergunta = QUESTIONS.map(q => {\n  const respostas = respostasDetalhadas.filter(r => Number(r.questionId) === Number(q.id));\n  return {\n    questionId: q.id,\n    question: q.text,\n    mode: q.mode,\n    maxChoices: q.maxChoices || null,\n    selectedAnswers: respostas.map(r => r.answer),\n    selectedStyles: respostas.map(r => r.style).filter(Boolean),\n    selectedDetails: respostas\n  };\n});\n\nconst contextoQuestionario = {\n  userId: body.userId || body.usuario_id || body.id_usuario || null,\n  userName: body.userName || body.nome || body.nome_usuario || body.name || null,\n  companyId: body.companyId || body.empresa_id || body.id_empresa || null,\n  companyName: body.companyName || body.empresa || body.nome_empresa || body.company || null,\n  completedAt: body.completedAt || body.data_conclusao || body.concluido_em || new Date().toISOString(),\n  generatedAt: new Date().toISOString(),\n  scores: normalizedScores,\n  totalPontos,\n  ranking,\n  perfilPredominante,\n  perfilSecundario,\n  perfilTerciario,\n  perfilMenosUtilizado,\n  respostasDetalhadas,\n  respostasPorPergunta\n};\n\nconst consultaBase = [\n  `Perfil predominante: ${perfilPredominante}`,\n  `Perfil secundário: ${perfilSecundario}`,\n  `Perfil menos utilizado: ${perfilMenosUtilizado}`,\n  `Socioestilo características lado luz lado sombra pontos fortes pontos de desenvolvimento recomendações profissionais`,\n  `Estilos: Assertivo Participativo Analítico Conservador agregador`,\n  `Aplicação em relatório executivo de desenvolvimento pessoal e profissional`\n].join('. ');\n\nconst promptAgente = `\nAnalise o resultado completo da Pesquisa de Socioestilo e gere os textos necessários para preencher um relatório semelhante ao modelo Potenciar.\n\nUse a ferramenta buscar_base_socioestilo para consultar a base vetorial antes de consolidar conceitos, características, lado luz, lado sombra, recomendações e metodologia.\n\nDADOS DO QUESTIONÁRIO:\n${JSON.stringify(contextoQuestionario, null, 2)}\n\nCONSULTA SUGERIDA PARA A BASE:\n${consultaBase}\n\nIMPORTANTE:\n- Use as respostas das perguntas para enriquecer a análise, não apenas as pontuações.\n- Não invente respostas nem pontuações.\n- Não diga que o perfil define a pessoa; trate como tendência comportamental e instrumento de reflexão.\n- Produza textos prontos para relatório executivo.\n- Retorne somente JSON válido.\n`;\n\nreturn [{\n  json: {\n    contextoQuestionario,\n    consultaBase,\n    promptAgente\n  }\n}];"
      },
      "id": "8e928575-ca03-4b76-ae46-a712c77c4d1a",
      "name": "Code - Normalizar perguntas e respostas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        512
      ],
      "notesInFlow": true,
      "notes": "Recebe o payload do app com todas as perguntas/respostas. Aceita answers/respostas in array, objeto por ID ou campos legados q1_opcao_1/q2_resposta. Reconstrói pergunta, resposta, estilo e pontos; calcula scores quando necessário; prepara prompt do agente."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.promptAgente }}",
        "options": {
          "systemMessage": "Você é um Agente Especialista em Socioestilo da Potenciar, responsável por transformar respostas de questionário em conteúdo estruturado para relatório executivo.\\n\\nREGRAS OBRIGATÓRIAS:\\n1. Responda sempre em português do Brasil.\\n2. Use os dados do questionário como fonte principal das pontuações, ranking e respostas.\\n3. Consulte a ferramenta buscar_base_socioestilo para fundamentar conceitos, características dos perfis, lado luz, lado sombra, oportunidades e recomendações.\\n4. Não invente pontuações, respostas, datas, empresa ou nome do avaliado.\\n5. Não rotule a pessoa de forma definitiva. O Socioestilo deve ser tratado como instrumento de reflexão e desenvolvimento.\\n6. O relatório deve seguir o padrão do modelo Potenciar: pontuações, parecer executivo, oportunidades, desafios, conselho, análise comportamental e metodologia.\\n7. Retorne exclusivamente JSON válido, sem markdown, sem comentários antes ou depois.\\n\\nFORMATO OBRIGATÓRIO DE SAÍDA:\\n{\\n  \"ai_insights\": {\\n    \"resumo\": \"Parecer executivo em um único parágrafo entre 120 e 180 palavras.\",\\n    \"oportunidades\": [\"3 itens objetivos em formato de frase completa\"],\\n    \"desafios\": [\"3 itens objetivos em formato de frase completa\"],\\n    \"insights\": \"Conselho de alta performance entre 60 e 110 palavras, finalizando com: Consultor Potenciar.\",\\n    \"conhecimento_aplicado\": \"Resumo dos conceitos da metodologia Socioestilo aplicados na análise.\"\\n  },\\n  \"relatorio\": {\\n    \"titulo\": \"Diagnóstico do Perfil Socioestilo\",\\n    \"parecer_executivo_titulo\": \"Parecer Executivo & Insights Estratégicos\",\\n    \"parecer_executivo\": \"Mesmo texto do resumo, sem aspas.\",\\n    \"oportunidades_alavancas\": [\"3 itens\"],\\n    \"pontos_criticos_desafios\": [\"3 itens\"],\\n    \"conselho_alta_performance\": \"Mesmo texto do insights.\",\\n    \"analise_humana_agendada\": \"Lembre-se que um consultor executivo da Potenciar realizará uma conferência individual detalhada de seus dados para alinhamento estratégico. Você receberá uma devolutiva formal e presencial em breve.\",\\n    \"analise_comportamental\": {\\n      \"estilo_identificado\": \"Perfil predominante identificado\",\\n      \"descricao\": \"Descrição objetiva do estilo predominante e de sua combinação com o secundário.\",\\n      \"pontos_fortes_talentos\": [\"4 itens\"],\\n      \"pontos_desenvolvimento\": [\"3 itens\"]\\n    },\\n    \"metodologia_potenciar_ativada\": \"Texto entre 80 e 140 palavras explicando como a metodologia foi aplicada ao caso.\",\\n    \"sobre_metodologia\": {\\n      \"assertivo\": \"Descrição curta\",\\n      \"participativo\": \"Descrição curta\",\n      \"conservador_agregador\": \"Descrição curta\",\n      \"analitico\": \"Descrição curta\",\\n      \"texto_final\": \"Frase final sobre equilíbrio dos estilos.\"\\n    }\\n  },\\n  \"fontes_consultadas\": [],\\n  \"google_studio\": {\\n    \"nome\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.userName }}\",\\n    \"empresa\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.companyName }}\",\\n    \"perfil_dominante\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.perfilPredominante }}\",\\n    \"perfil_secundario\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.perfilSecundario }}\",\\n    \"perfil_terciario\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.perfilTerciario }}\",\\n    \"perfil_menos_utilizado\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.perfilMenosUtilizado }}\",\\n    \"score_assertivo\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.scores.Assertivo || 0 }}\",\\n    \"score_participativo\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.scores.Participativo || 0 }}\",\\n    \"score_conservador_agregador\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.scores[\\\"Conservador agregador\\\"] || 0 }}\",\\n    \"score_analitico\": \"={{ $('Code - Normalizar perguntas e respostas').item.json.contextoQuestionario.scores.Analítico || 0 }}\",\\n    \"resumo\": \"Parecer executivo em um único parágrafo do Socioestilo.\",\\n    \"parecer_executivo\": \"Parecer executivo em um único parágrafo do Socioestilo.\",\\n    \"oportunidades\": [],\\n    \"desafios\": [],\\n    \"insights\": \"Conselho final de alta performance.\",\\n    \"estilo_identificado\": \"Perfil dominante identificado\",\\n    \"descricao_estilo\": \"Descrição combinatória do perfil dominante.\",\\n    \"pontos_fortes_talentos\": [],\\n    \"pontos_desenvolvimento\": [],\\n    \"metodologia_potenciar_ativada\": \"A metodologia de Socioestilos Potenciar foi aplicada para correlacionar escores, respostas subjetivas e padrões comportamentais com foco profissional.\"\\n  }\\n}"
        }
      },
      "id": "d01c937c-cb8c-4054-87fb-978ddc5318ec",
      "name": "AI Agent - Analisar Socioestilo",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1696,
        512
      ],
      "notesInFlow": true,
      "notes": "Agente responsável por gerar os textos do relatório. Usa o questionário completo como fonte principal e consulta a ferramenta buscar_base_socioestilo no Supabase Vector Store para fundamentar conceitos e recomendações."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "id": "9e17909f-2060-4d0e-96f9-ed3ab675c61a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1664,
        688
      ],
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "55ReeFxj5UTL1NHd",
          "name": "OpenAi account"
        }
      },
      "notes": "Modelo de linguagem do AI Agent. Após importar, selecione sua credencial OpenAI. Use temperatura 0.2 para saída consistente em JSON."
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "buscar_base_socioestilo",
        "toolDescription": "Consulte esta base para buscar conhecimentos oficiais sobre metodologia Socioestilo, perfis Assertivo, Participativo, Analítico e Conservador agregador, lado luz, lado sombra, pontos fortes, desenvolvimento e recomendações para relatórios.",
        "tableName": "documents",
        "topK": 6,
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "9c72abfa-cbba-423a-9e27-cb75dc67ef58",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1760,
        784
      ],
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "zMhhtcS3OcNMBfmN",
          "name": "Supabase account"
        }
      },
      "notes": "Base vetorial Supabase usada como ferramenta do agente. Configure credencial Supabase, tabela documents e RPC match_documents. Top K 12 para recuperar contexto suficiente para relatório."
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6fb45d98-5826-49d5-9db9-c7170e1761fc",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        960
      ],
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "55ReeFxj5UTL1NHd",
          "name": "OpenAi account"
        }
      },
      "notes": "Embeddings para consultar a base vetorial. Use o mesmo modelo usado na criação dos embeddings da tabela documents, preferencialmente text-embedding-3-small."
    },
    {
      "parameters": {
        "jsCode": "const original = $('Code - Normalizar perguntas e respostas').first().json;\nlet raw = $json.output || $json.text || $json.response || $json;\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .replace(/```json/gi, '')\n  .replace(/```/g, '')\n  .trim();\n\nfunction fallbackFromContext(contexto) {\n  const dominante = contexto.perfilPredominante || 'Não identificado';\n  const secundario = contexto.perfilSecundario || 'Não identificado';\n\n  return {\n    ai_insights: {\n      resumo: `${contexto.userName || 'O avaliado'} apresenta predominância do estilo ${dominante}, com apoio do estilo ${secundario}. Essa leitura indica tendências comportamentais que devem ser compreendidas como um instrumento de reflexão, e não como uma definição fixa da pessoa. A análise das respostas e pontuações sugere caminhos para fortalecer potencialidades, reconhecer pontos de atenção e aprimorar a forma de se relacionar no ambiente profissional.`,\n      oportunidades: [\n        'Aprofundar o autoconhecimento a partir das tendências comportamentais identificadas.',\n        'Usar o perfil predominante como alavanca para melhorar comunicação, colaboração e entrega.',\n        'Desenvolver os estilos menos utilizados para ampliar repertório relacional e profissional.'\n      ],\n      desafios: [\n        'Evitar o uso excessivo das características do perfil predominante em situações de pressão.',\n        'Reconhecer diferenças de ritmo, comunicação e tomada de decisão entre os estilos.',\n        'Transformar o resultado da pesquisa em ações práticas de desenvolvimento.'\n      ],\n      insights: 'Use este diagnóstico como ponto de partida para ampliar sua consciência comportamental e construir relações profissionais mais equilibradas, respeitando seus pontos fortes e desenvolvendo novas formas de atuação. Consultor Potenciar.',\n      conhecimento_aplicado: 'Interpretação estruturada do questionário Socioestilo com apoio da metodologia de perfis comportamentais.'\n    },\n    relatorio: {\n      titulo: 'Diagnóstico do Perfil Socioestilo',\n      parecer_executivo_titulo: 'Parecer Executivo & Insights Estratégicos',\n      parecer_executivo: '',\n      oportunidades_alavancas: [],\n      pontos_criticos_desafios: [],\n      conselho_alta_performance: '',\n      analise_humana_agendada: 'Lembre-se que um consultor executivo da Potenciar realizará uma conferência individual detalhada de seus dados para alinhamento estratégico. Você receberá uma devolutiva formal e presencial em breve.',\n      analise_comportamental: {\n        estilo_identificado: dominante,\n        descricao: `Estilo predominante ${dominante}, com apoio do estilo ${secundario}.`,\n        pontos_fortes_talentos: [],\n        pontos_desenvolvimento: []\n      },\n      metodologia_potenciar_ativada: 'A análise foi estruturada com base na metodologia de Socioestilo, considerando pontuações, respostas do questionário e tendências comportamentais.',\n      sobre_metodologia: {\n        assertivo: 'Focado em velocidade, ação, decisões rápidas e resultados.',\n        participativo: 'Movido por entusiasmo, relacionamento, comunicação e engajamento.',\n        conservador_agregador: 'Voltado à harmonia, cooperação, estabilidade e cuidado com as relações.',\n        analitico: 'Orientado por dados, precisão, método, lógica e detalhes.',\n        texto_final: 'O equilíbrio entre os estilos amplia a capacidade de colaboração, adaptação e desenvolvimento.'\n      }\n    },\n    fontes_consultadas: [],\n    google_studio: {\n      nome: contexto.userName,\n      empresa: contexto.companyName,\n      perfil_dominante: dominante,\n      perfil_secundario: secundario,\n      perfil_terciario: contexto.perfilTerciario || 'Não identificado',\n      perfil_menos_utilizado: contexto.perfilMenosUtilizado || 'Não identificado',\n      score_assertivo: contexto.scores?.Assertivo || 0,\n      score_participativo: contexto.scores?.Participativo || 0,\n      score_conservador_agregador: contexto.scores?.[\\\"Conservador agregador\\\"] || 0,\n      score_analitico: contexto.scores?.Analítico || 0,\n      resumo: '',\n      parecer_executivo: '',\n      oportunidades: [],\n      desafios: [],\n      insights: '',\n      estilo_identificado: dominante,\n      descricao_estilo: `Estilo predominante ${dominante}, com apoio do estilo ${secundario}.`,\n      pontos_fortes_talentos: [],\n      pontos_desenvolvimento: [],\n      metodologia_potenciar_ativada: 'A análise foi estruturada com base na metodologia de Socioestilo, considerando pontuações, respostas do questionário e tendências comportamentais.'\n    }\n  };\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  parsed = fallbackFromContext(original.contextoQuestionario);\n  parsed.erro_parse_ia = error.message;\n  parsed.raw_output = raw;\n}\n\nif (!parsed.ai_insights) parsed.ai_insights = {};\nif (!parsed.relatorio) parsed.relatorio = {};\n\nparsed.ai_insights.resumo = parsed.ai_insights.resumo || parsed.relatorio.parecer_executivo || '';\nparsed.ai_insights.oportunidades = Array.isArray(parsed.ai_insights.oportunidades) ? parsed.ai_insights.oportunidades : (parsed.relatorio.oportunidades_alavancas || []);\nparsed.ai_insights.desafios = Array.isArray(parsed.ai_insights.desafios) ? parsed.ai_insights.desafios : (parsed.relatorio.pontos_criticos_desafios || []);\nparsed.ai_insights.insights = parsed.ai_insights.insights || parsed.relatorio.conselho_alta_performance || '';\nparsed.ai_insights.conhecimento_aplicado = parsed.ai_insights.conhecimento_aplicado || parsed.relatorio.metodologia_potenciar_ativada || '';\n\nparsed.relatorio.parecer_executivo = parsed.relatorio.parecer_executivo || parsed.ai_insights.resumo;\nparsed.relatorio.oportunidades_alavancas = parsed.relatorio.oportunidades_alavancas || parsed.ai_insights.oportunidades;\nparsed.relatorio.pontos_criticos_desafios = parsed.relatorio.pontos_criticos_desafios || parsed.ai_insights.desafios;\nparsed.relatorio.conselho_alta_performance = parsed.relatorio.conselho_alta_performance || parsed.ai_insights.insights;\n\n// Garante o preenchimento de google_studio\nparsed.google_studio = parsed.google_studio || {};\nparsed.google_studio.nome = parsed.google_studio.nome || original.contextoQuestionario.userName;\nparsed.google_studio.empresa = parsed.google_studio.empresa || original.contextoQuestionario.companyName;\nparsed.google_studio.perfil_dominante = parsed.google_studio.perfil_dominante || original.contextoQuestionario.perfilPredominante;\nparsed.google_studio.perfil_secundario = parsed.google_studio.perfil_secundario || original.contextoQuestionario.perfilSecundario;\nparsed.google_studio.perfil_terciario = parsed.google_studio.perfil_terciario || original.contextoQuestionario.perfilTerciario;\nparsed.google_studio.perfil_menos_utilizado = parsed.google_studio.perfil_menos_utilizado || original.contextoQuestionario.perfilMenosUtilizado;\nparsed.google_studio.score_assertivo = typeof parsed.google_studio.score_assertivo !== 'undefined' ? parsed.google_studio.score_assertivo : (original.contextoQuestionario.scores.Assertivo || 0);\nparsed.google_studio.score_participativo = typeof parsed.google_studio.score_participativo !== 'undefined' ? parsed.google_studio.score_participativo : (original.contextoQuestionario.scores.Participativo || 0);\nparsed.google_studio.score_conservador_agregador = typeof parsed.google_studio.score_conservador_agregador !== 'undefined' ? parsed.google_studio.score_conservador_agregador : (original.contextoQuestionario.scores[\"Conservador agregador\"] || 0);\nparsed.google_studio.score_analitico = typeof parsed.google_studio.score_analitico !== 'undefined' ? parsed.google_studio.score_analitico : (original.contextoQuestionario.scores.Analítico || 0);\nparsed.google_studio.resumo = parsed.google_studio.resumo || parsed.ai_insights.resumo;\nparsed.google_studio.parecer_executivo = parsed.google_studio.parecer_executivo || parsed.relatorio.parecer_executivo || parsed.ai_insights.resumo;\nparsed.google_studio.oportunidades = Array.isArray(parsed.google_studio.oportunidades) && parsed.google_studio.oportunidades.length ? parsed.google_studio.oportunidades : parsed.ai_insights.oportunidades;\nparsed.google_studio.desafios = Array.isArray(parsed.google_studio.desafios) && parsed.google_studio.desafios.length ? parsed.google_studio.desafios : parsed.ai_insights.desafios;\nparsed.google_studio.insights = parsed.google_studio.insights || parsed.ai_insights.insights;\nparsed.google_studio.estilo_identificado = parsed.google_studio.estilo_identificado || parsed.relatorio.analise_comportamental?.estilo_identificado || original.contextoQuestionario.perfilPredominante;\nparsed.google_studio.descricao_estilo = parsed.google_studio.descricao_estilo || parsed.relatorio.analise_comportamental?.descricao || `Estilo predominante ${original.contextoQuestionario.perfilPredominante}, apoiado em ${original.contextoQuestionario.perfilSecundario}.`;\nparsed.google_studio.pontos_fortes_talentos = Array.isArray(parsed.google_studio.pontos_fortes_talentos) && parsed.google_studio.pontos_fortes_talentos.length ? parsed.google_studio.pontos_fortes_talentos : (parsed.relatorio.analise_comportamental?.pontos_fortes_talentos || []);\nparsed.google_studio.pontos_desenvolvimento = Array.isArray(parsed.google_studio.pontos_desenvolvimento) && parsed.google_studio.pontos_desenvolvimento.length ? parsed.google_studio.pontos_desenvolvimento : (parsed.relatorio.analise_comportamental?.pontos_desenvolvimento || []);\nparsed.google_studio.metodologia_potenciar_ativada = parsed.google_studio.metodologia_potenciar_ativada || parsed.relatorio.metodologia_potenciar_ativada || 'A análise foi estruturada com base na metodologia de Socioestilo, considerando pontuações, respostas do questionário e tendências comportamentais.';\n\n// Anexa dados calculados para o frontend montar as páginas do relatório.\nconst contexto = original.contextoQuestionario;\nparsed.contextoQuestionario = contexto;\nparsed.pontuacoesComportamentais = contexto.ranking.map(item => ({\n  estilo: item.style,\n  pontos: item.score,\n  percentual: item.percent,\n  classificacao: item.style === contexto.perfilPredominante ? 'DOMINANTE' : 'Perfil Secundário'\n}));\nparsed.respostasQuestionario = contexto.respostasPorPergunta;\nparsed.relatorioProntoParaApp = {\n  userId: contexto.userId,\n  userName: contexto.userName,\n  companyId: contexto.companyId,\n  companyName: contexto.companyName,\n  completedAt: contexto.completedAt,\n  generatedAt: contexto.generatedAt,\n  scores: contexto.scores,\n  perfil_dominante: contexto.perfilPredominante,\n  ai_insights: parsed.ai_insights,\n  relatorio: parsed.relatorio,\n  google_studio: parsed.google_studio,\n  answers: contexto.respostasPorPergunta\n};\n\nreturn [{ json: parsed }];"
      },
      "id": "a66852b9-3743-4aed-b1a8-a385ebf1ef82",
      "name": "Code - Validar e montar saída do relatório",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        512
      ],
      "notesInFlow": true,
      "notes": "Valida o JSON retornado pela IA, remove markdown caso exista, cria fallback seguro e monta a saída final esperada pelo aplicativo: ai_insights, relatorio, pontuacoesComportamentais e respostasQuestionario."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a3861e3a-315f-40be-bf25-5912e753849b",
      "name": "Respond to Webhook - Retornar relatório",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2496,
        512
      ],
      "notesInFlow": true,
      "notes": "Retorna ao aplicativo o JSON final pronto para preencher o relatório: pontuações, perguntas/respostas, análise IA, metodologia e campos de relatório."
    },
    {
      "parameters": {
        "content": "## Payload esperado do app\\nEnvie por POST para `/webhook/socioestilo/analisar`:\\n\\n```json\\n{\\n  \"userName\": \"Eduardo Nomura\",\\n  \"companyName\": \"Potenciar\",\\n  \"scores\": {\"Assertivo\": 7, \"Participativo\": 8, \"Conservador agregador\": 3, \"Analítico\": 4},\\n  \"answers\": {\\n    \"1\": [\"Determinado\", \"Comunicativo\"],\\n    \"2\": \"Pedir desculpas...\"\\n  }\\n}\\n```\\n\\nTambém aceita `respostas`, array detalhado ou campos legados `q1_opcao_1`, `q2_resposta`.",
        "height": 360,
        "width": 420,
        "color": 4
      },
      "id": "5d329951-ec41-42a3-b044-a92814ae2fab",
      "name": "NOTA - Entrada com perguntas e respostas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        48
      ]
    },
    {
      "parameters": {
        "content": "## Saída preparada para o relatório\\nO workflow devolve:\\n\\n- `pontuacoesComportamentais`\\n- `respostasQuestionario`\\n- `ai_insights.resumo`\\n- `ai_insights.oportunidades`\\n- `ai_insights.desafios`\\n- `ai_insights.insights`\\n- `relatorio.analise_comportamental`\\n- `relatorio.sobre_metodologia`\\n\\nEsses campos cobrem as páginas do modelo PDF: pontuações, análise IA, conselho, análise comportamental e metodologia.",
        "height": 320,
        "width": 420,
        "color": 5
      },
      "id": "d08180c0-3730-4d23-80b5-093822b2fe92",
      "name": "NOTA - Saída do relatório",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        48
      ]
    }
  ],
  "connections": {
    "Webhook - Receber respostas": {
      "main": [
        [
          {
            "node": "Code - Normalizar perguntas e respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Analisar Socioestilo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Analisar Socioestilo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Analisar Socioestilo": {
      "main": [
        [
          {
            "node": "Code - Validar e montar saída do relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Normalizar perguntas e respostas": {
      "main": [
        [
          {
            "node": "AI Agent - Analisar Socioestilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validar e montar saída do relatório": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Retornar relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "77b04c4b-edc1-43db-9650-b0308cb5f1f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db746d6d206ca0ddd70b010730f0a479d6e5fbebfe0d3fdedb74ae407121bc8b"
  },
  "nodeGroups": [],
  "id": "BYsbjSxm3rRqfhV7",
  "tags": [
    {
      "updatedAt": "2026-06-13T17:50:18.413Z",
      "createdAt": "2026-06-13T17:50:18.413Z",
      "id": "4WQGDJ9IONALQp7j",
      "name": "Supabase"
    },
    {
      "updatedAt": "2026-06-13T17:50:18.372Z",
      "createdAt": "2026-06-13T17:50:18.372Z",
      "id": "8Nkbo9ET7SoST1rG",
      "name": "Socioestilo"
    },
    {
      "updatedAt": "2026-06-13T18:46:22.836Z",
      "createdAt": "2026-06-13T18:46:22.836Z",
      "id": "VSkQa7gwr8Atf8ux",
      "name": "Modelo direto"
    },
    {
      "updatedAt": "2026-06-13T20:15:17.996Z",
      "createdAt": "2026-06-13T20:15:17.996Z",
      "id": "b5OWJD43oMEekent",
      "name": "Relatório"
    },
    {
      "updatedAt": "2026-06-13T20:15:18.002Z",
      "createdAt": "2026-06-13T20:15:18.002Z",
      "id": "dc7j8kRS5VgVIDhO",
      "name": "Perguntas"
    },
    {
      "updatedAt": "2026-06-13T17:50:18.403Z",
      "createdAt": "2026-06-13T17:50:18.403Z",
      "id": "dwNOzWwhPYcJRf0o",
      "name": "RAG"
    }
  ]
}
